@using ToDoList.Services
@model ToDoList.Models.MyTask

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="card border-5">
        <div class="card-header">
            <p><strong>Задача новая</strong></p>
        </div>
        <div class="row align-content-around pb-5">
            <div class="col-2 px-5">
                <p>Статус</p>
                <p>Приоритет</p>
                <p>Номер</p>
                <a class="btn btn-outline-primary" asp-action="Open" asp-route-id="@Model?.Id">Открыть</a>
            </div>
            <div class="col-2">
                <p>@Html.DisplayFor(model => model.Status)</p>
                <p>@Html.DisplayFor(model => model.Priority)</p>
                <p>@Html.DisplayFor(model => model.Id)</p>
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@Model?.Id">Удалить</a>
            </div>
            <div class="col-3 border border-end-0 border-dark">
                <h3>Описание задачи</h3>
                <p>@Html.DisplayFor(model => model.Description)</p>
            </div>
        </div>
    </div>
</div>
