@model ToDoList.Models.MyTask

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MyTask</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Название задачи</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group py-2">
                <label asp-for="Priority" class="control-label">Приоритет</label>
                <select asp-for="Priority" asp-items="ViewBag.Priorities" class="form-control">
                    <option disabled selected>Выберите приоритет</option>
                </select>
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>

            <div class="form-group py-2">
                <label asp-for="Description" class="control-label">Описание задачи</label>
                <textarea asp-for="Description" class="form-control" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="@Model.Id"/>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
